<div class="todolist">
  <h1 class="todolist__header">
    ToDo List
  </h1>

  <todolist-input-section>    
  </todolist-input-section>

  <div
    class="todolist__items-container">
    <todolist-item 
      *ngFor="let todoItem of todoListFiltered$ | async"
      class="todolist__item"
      [todolistItem]="todoItem"
    ></todolist-item>
  </div>

  <todolist-buttons-container
    [isAllFilterOn]="isAllFilterOn"
    [isActiveFilterOn]="isActiveFilterOn"
    [isCompletedFilterOn]="isCompletedFilterOn"
    [isClearCompletedDisabled]="isClearCompletedDisabled"
  >    
  </todolist-buttons-container>

</div>

