@import "../../../sass/_variables.scss";

.todolist {
    width: 50%;
    margin: 0 auto;
}

.todolist__header {
    text-align: center;
}

.todolist__items-container {
    margin-bottom: 24px;
    background: $a-color-gray-n1;
}

.todolist__item {
    display: block;

    &:not(:last-child) {
        border-bottom: 1px solid $a-color-gray-n2;
    }
}