<div class="todolist">
  <h1 class="todolist__header">
    ToDo List
  </h1>

  <div class="todolist__input-container">
    <input 
      type="text"
      placeholder="Add item.."
      class="todolist__input"
      [(ngModel)]="description"
      (input)="inputValueChanged()"
    >
    <button 
      class="todolist__button"
      (click)="addButtonClicked()"
      [disabled]="description === ''"
    >
      Add
    </button>
  </div>


  <div
    class="todolist__items-container">
    <todolist-item 
      *ngFor="let todoItem of todoListFiltered$ | async"
      class="todolist__item"
      [todolistItem]="todoItem"
      [onCheckboxChange]="checkboxValueChanged"
      [onCloseIconClick]="itemCloseIconClicked"
    ></todolist-item>
  </div>

  <div
    class="todolist__buttons-container">
    <div
      class="todolist__filters-container">
      <button
        class="todolist__button"
        (click)="allFilterClicked()"
        [disabled]="isAllFilterOn$ | async">
        All
      </button>
      <button
        class="todolist__button"
        (click)="activeFilterClicked()"
        [disabled]="isActiveFilterOn$ | async">
        Active
      </button>
      <button
        class="todolist__button"
        (click)="completedFilterClicked()"
        [disabled]="isCompletedFilterOn$ | async">
        Completed
      </button>
    </div>
    <button
      class="todolist__button"
      (click)="clearCompletedButtonClicked()"
      [disabled]="isClearCompletedDisabled$ | async">
      Clear completed
    </button>
  </div>

</div>

